# 🔥 NODE
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🔐 ENV (MUITO IMPORTANTE)
.env
.env.local
.env.*.local

# 🚀 BUILD
dist/
build/

# 📦 VITE
.vite/

# 🧪 LOGS
logs
*.log

# 💻 SISTEMA
.DS_Store
Thumbs.db

# 🧠 IDE / EDITOR
.vscode/
.idea/

# 🗂 CACHE
.cache/
.tmp/

# 🔁 ARQUIVOS BUGADOS DO GIT (SEU CASO)
vite-project~*

# 🔒 OUTROS
coverage/